*{
    margin: 0;
    padding: 0;
}

.listPeople {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.listPeople h2 {
    color: #070276;
    margin: 20px;
}
.agePeople {
    margin-right: 15px;
}
.btnClosePeople {
    border-radius: 5px;
    border: 1px solid #04004c;
}
.ulPeople {
    height: 30px;
   margin: 30px;
   list-style-type: none;
}
.personContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #dff1fc;
    border-radius: 4px;
  }
.closePeople {
    height: 15px;
    width: 15px;
    margin: 5px;
   border-radius: 5px;
 
}



